/*Body*/
body{
    margin: 0;
    padding: 0;
    background: white;
    overflow: hidden;
}

/*Style fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
  width: 100px;
}

/*Style for top main container/ logo text and logo picture*/
.row.top-main {
    background: white;
    position: absolute;
}
.col.logo-name {
    background-color: #a2c617;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    width: 1195px;
}
h1.logo-text {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.col-2.logo-pic {
    position: inherit;
    margin-left: 100%;
}
img.rounded.LogoPic {
    width: 210px;
}

/*Style for right side form*/
.col.right-side-form {
    background-color: #B2B2AD;
    color: white;
    height: auto;
    position: fixed;
    padding-left: 50px;
    padding-right: 50px;
}
h1.textLabel {
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn:not(:disabled):not(.disabled){
    border-color: #dcdcdc;
}
.form-outline {
    width: 17.5%;
}
button.btn.btn-primary {
    color: black;
    background-color: #d3d3d3;
}
.filter-body {
    width: 20%;
}
.searchStatus {
    margin-bottom: 15px;
}
a.btn.btn-primary.stretched-link.form-control.saveBtn {
    background-color: #343a40;
    position: relative;
}
.footer {
    padding-bottom: 100%;
    padding-top: 15px;
}

/*Style for scrollbar*/
.scroll-bg{
    width: 100%;
}
.scroll-div{
    width: 100%;
    height: 900px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
}

/*Style for two columns: forms-body and back-to-button*/
div#header {
    padding-top: 10px;
}

.row.twoColumns {
    position: relative;
    padding-top: 145px;
}

hr.btnTrans {
    background-color: transparent;
}
button#addRow {
    margin-top: -35px;
    background-color: #a2c617;
    color: white;
}
button#add {
    margin-top: -35px;
    background-color: #a2c617;
    color: white;
}

.top-form {
    margin-top: 20px;
}

h5.lttlText {
    margin-left: 15px;
    margin-top: 35px;
}

.col-6.right-child {
    margin-top: 20px;
    margin-left: 9px;
}

.col.middle-form-name {
    margin-bottom: 40px;
}

.middle-form-child {
    margin-top: 50px;
}

.zoom {
    padding-top: 35px;
}

h5.mb-0.mlt-label {
    margin-top: 8px;
}

.col.mdl-form-second {
    margin-top: 25px;
}

a.btn.btn-link.mltsr {
    margin-left: 32px;
    color: #a2c617;
}

p.supTextChild {
    margin-top: 7px;
    margin-bottom: 0px;
}

.card.footersCard {
    margin-bottom: 50px;
}

.footer-label {
    margin-top: 40px;
}

textarea.footersText.form-control {
    margin-bottom: 45px;
}

button#addRow2 {
    margin-top: 0px;
    background-color: #a2c617;
    color: white;
    width: auto;
}

.vl.second {
    height: auto;
}
.vl.third {
    height: auto;
}

p.lttlT.font-weight-bold {
    margin-left: -50px;
}

.col.footerL {
    padding-bottom: 30px;
}

/*Back to Top Button*/
.scrollToTopBtn {
    position: fixed;
    bottom: 54px;
    left: 65%;
}
.scrollToBottomBtn {
    position: fixed;
    bottom: 54px;
    left: 72%;
}

.scrollToZoomBtn {
    position: fixed;
    bottom: 54px;
    left: 67%;
}

a.scrollToZoomBtn.form-control {
    background-color: #a2c617;
    color: #fff;
    width: auto;
}


/*Style for modal Absenden*/
h5.modal-text {
    width: 111%;
}
.btnAbsender {
    padding-top: 32px;
}

/*Style for buttons in js*/
.remove_row {
    margin-top: -35px;
}

.right-side-label {
    margin-top: 85px;
}

/*For Buttons*/
.form-check-input:checked {
    background-color: #a2c617;
    border-color: #a2c617;
}